name: Generate Datas

on:
  schedule:
    - cron: "37 3 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Generate snake animation (dark & light)
        uses: Platane/snk@v3.4.1
        with:
          github_user_name: mertgulerx
          outputs: |
            dist/github-snake-dark.svg?palette=github-dark

      - name: Publish to output branch
        uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
